/*
 *= require_self
 *= require_tree .
 *= require material-design-lite/material.min.css
 */

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#main {
    flex: 1 0 auto;
}

.page-content {
    padding: 20px;

    .mdl-textfield {
        display: block;

        .mdl-textfield__input {
            appearance: none;
            -webkit-appearance: none;
        }
    }

    .searchfield {
        padding: 0 15px;

        .mdl-textfield__label {
            top: 4px;
            left: 15px;
        }

        .mdl-textfield__input {
            padding-left: 24px;
        }
    }

    .mdl-button {
        margin-left: 5px;
        margin-right: 5px;
    }

    .mdl-data-table th a {
        text-decoration: none;
        color: unset;
        font-weight: unset;

        &:hover,
        &.asc,
        &.desc {
            text-decoration: underline;
            text-decoration-style: dashed;
        }
    }
}

.mdl-snackbar.flash {
    position: fixed;
    bottom: unset;
    top: 65px;
    z-index: 2;
    font-weight: 600;

    .flash__close {
        background: transparent;
        border: none;
        overflow: hidden;
        outline: none;
        cursor: pointer;
        text-decoration: none;
        text-align: center;
        align-self: center;
        float: right;
        padding: 10px 14px 10px 12px;
        font-weight: inherit;
    }

    .flash__text {
        padding: 14px 12px 14px 24px;
        vertical-align: middle;
        float: left;
    }

    &.flash-error {
        background-color: #F3D8DA;
        color: #79282C;
    }

    &.flash-alert {
        background-color: #FDF3D1;
        color: #624E17;
    }

    &.flash-notice {
        background-color: #D6F3FB;
        color: #22505E;
    }
}
